{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block component_header_logo %}
    <div class="my-custom-logo">
        <h2>SereniGrin Bookstore</h2>
        <span class="my-custom-tagline">Your online bookstore</span>
    </div>
{% endblock %}
